@font-face {
  font-family: "Italiana";
  src: url("/fonts/Italiana-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dancing Script";
  src: url("/fonts/DancingScript-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  color: #e7c75f;
  font-family: Arial, sans-serif;
}

#root {
  min-height: 100vh;
  overflow-x: hidden;
}

.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.left-decoration {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 150px;
  height: auto;
}

.right-decoration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 150px;
  height: auto;
  transform: scaleX(-1);
}